{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        body {padding-top: 70px;}
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for("index") }}">Weather</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
