{% extends "base.html" %}
{% from "macros.html" import weather_row %}

{% block title %}Weather Averages for {{ city }}{% endblock %}

{% block page_content %}
    <h1>Weather Averages</h1>
    <h2>{{ city }}</h2>
    <table class="table table-hover">
        <tr>
            <th>Month</th>
            <th>Min</th>
            <th>Max</th>
            <th>Rainfall</th>
        </tr>
        {% for month, data in weather.iteritems() %}
            {{ weather_row(month,
                           data["min"],
                           data["max"],
                           data["rain"],
                           highlight["min"],
                           highlight["max"],
                           highlight["rain"]) }}
        {% endfor %}
    </table>
{% endblock %}
